@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/dark";
$nb-enable-css-custom-properties: true;
$box-shadow: 0, 0rem, 0rem, 0, transparent;
$nb-themes: nb-register-theme(
  (
    color-primary-100: #d8ecf4,
    color-primary-200: #b3d8e9,
    color-primary-300: #7ca5be,
    color-primary-400: #47667e,
    color-primary-500: #111d28,
    color-primary-600: #0c1622,
    color-primary-700: #08111c,
    color-primary-800: #050b17,
    color-primary-900: #030813,
    color-primary-transparent-100: rgba(17, 29, 40, 0.08),
    color-primary-transparent-200: rgba(17, 29, 40, 0.16),
    color-primary-transparent-300: rgba(17, 29, 40, 0.24),
    color-primary-transparent-400: rgba(17, 29, 40, 0.32),
    color-primary-transparent-500: rgba(17, 29, 40, 0.4),
    color-primary-transparent-600: rgba(17, 29, 40, 0.48),
    color-success-100: #d3fcd1,
    color-success-200: #a4f9a8,
    color-success-300: #74ee86,
    color-success-400: #4fdd72,
    color-success-500: #1dc758,
    color-success-600: #15ab58,
    color-success-700: #0e8f54,
    color-success-800: #09734d,
    color-success-900: #055f48,
    color-success-transparent-100: rgba(29, 199, 88, 0.08),
    color-success-transparent-200: rgba(29, 199, 88, 0.16),
    color-success-transparent-300: rgba(29, 199, 88, 0.24),
    color-success-transparent-400: rgba(29, 199, 88, 0.32),
    color-success-transparent-500: rgba(29, 199, 88, 0.4),
    color-success-transparent-600: rgba(29, 199, 88, 0.48),
    color-info-100: #e2fff4,
    color-info-200: #c6ffee,
    color-info-300: #aaffee,
    color-info-400: #95fff3,
    color-info-500: #72fffc,
    color-info-600: #53d2db,
    color-info-700: #39a4b7,
    color-info-800: #247893,
    color-info-900: #15597a,
    color-info-transparent-100: rgba(114, 255, 252, 0.08),
    color-info-transparent-200: rgba(114, 255, 252, 0.16),
    color-info-transparent-300: rgba(114, 255, 252, 0.24),
    color-info-transparent-400: rgba(114, 255, 252, 0.32),
    color-info-transparent-500: rgba(114, 255, 252, 0.4),
    color-info-transparent-600: rgba(114, 255, 252, 0.48),
    color-warning-100: #fef9cf,
    color-warning-200: #fef19f,
    color-warning-300: #fce670,
    color-warning-400: #fadb4c,
    color-warning-500: #f8ca12,
    color-warning-600: #d5a90d,
    color-warning-700: #b28909,
    color-warning-800: #8f6b05,
    color-warning-900: #775603,
    color-warning-transparent-100: rgba(248, 202, 18, 0.08),
    color-warning-transparent-200: rgba(248, 202, 18, 0.16),
    color-warning-transparent-300: rgba(248, 202, 18, 0.24),
    color-warning-transparent-400: rgba(248, 202, 18, 0.32),
    color-warning-transparent-500: rgba(248, 202, 18, 0.4),
    color-warning-transparent-600: rgba(248, 202, 18, 0.48),
    color-danger-100: #fee5cf,
    color-danger-200: #fec59f,
    color-danger-300: #fd9c6f,
    color-danger-400: #fc764b,
    color-danger-500: #fb3710,
    color-danger-600: #d71d0b,
    color-danger-700: #b40a08,
    color-danger-800: #91050e,
    color-danger-900: #780313,
    color-danger-transparent-100: rgba(251, 55, 16, 0.08),
    color-danger-transparent-200: rgba(251, 55, 16, 0.16),
    color-danger-transparent-300: rgba(251, 55, 16, 0.24),
    color-danger-transparent-400: rgba(251, 55, 16, 0.32),
    color-danger-transparent-500: rgba(251, 55, 16, 0.4),
    color-danger-transparent-600: rgba(251, 55, 16, 0.48),
    background-basic-color-1: #001525,
    background-basic-color-2: #142735,
    layout-background-color: background-basic-color-1,
		layout-window-shadow: $box-shadow,
		header-height: 2.75rem,
		header-shadow: $box-shadow,
		sidebar-shadow: $box-shadow,
    sidebar-background-color: background-basic-color-1,
		card-background-color: background-basic-color-2,
		card-border-radius: 0.65rem,
		menu-item-divider-color: transparent,
		sidebar-width-compact: 5rem,
  ),
  parkbase,
  dark
);
