// this is our just created themes.scss file, make sure the path to the file is correct
@import "./assets/styles/themes.scss";
// framework component styles
@import "~@nebular/theme/styles/globals";
// install the framework styles
@include nb-install() {
    @include nb-theme-global();
}

mwl-gauge {
    width: 260px;
    height: 260px;
    //display: block;
    padding: 0px;
}

mwl-gauge>.gauge>.dial {
    stroke: #47667e;
    stroke-width: 6;
    fill: rgba(0, 0, 0, 0);
}

mwl-gauge>.gauge>.value {
    stroke: #055f48;
    stroke-width: 10;
    fill: rgba(0, 0, 0, 0);
}

mwl-gauge>.gauge>.value-text {
    fill: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}