@import "../../../assets/styles/themes.scss";
:host {
    background: nb-theme(background-basic-color-1);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

.facility-name {
    padding-top: 16px;
    padding-left: 8px;
}