<div class="row">
    <div class="col-xs-4 col-xl-3">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="facilitiesForm">
                    <nb-select (selectedChange)="changeFacility($event)" formControlName="facilityName" placeholder="Toon alle faciliteiten" shape="rectangle" fullWidth="true">
                        <nb-option *ngFor="let facility of facilities$ | async" value={{facility.id}}>{{ facility.name }}
                        </nb-option>
                    </nb-select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h6 class="facility-name" [innerText]="currentFacility"></h6>
                    <img src="../../../assets/mocks/facilityAssets.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-xl-9">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <nb-form-field>
                            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                            <input type="text" nbInput fullWidth placeholder="Zoeken">
                        </nb-form-field>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="totals">
                            <h6>
                                <nb-icon nbPrefix icon="pie-chart-outline" pack="eva"></nb-icon> Totalen
                            </h6>
                            <app-totals [totals]="facilityData$|async"></app-totals>
                        </div>
                        <div class="credit">
                            <h6>
                                <nb-icon nbPrefix icon="pricetags-outline" pack="eva"></nb-icon> Tegoed
                            </h6>
                            <img src="../../../assets/mocks/balance.png">
                        </div>
                        <div class="activity">
                            <h6>
                                <nb-icon nbPrefix icon="trending-up-outline" pack="eva"></nb-icon> Activiteit
                            </h6>
                            <img src="../../../assets/mocks/activity.png">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="notifications">
                            <h6>
                                <nb-icon nbPrefix icon="bell-outline" pack="eva"></nb-icon> Meldingen
                            </h6>
                            <img src="../../../assets/mocks/facilityDetails.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="dashboard">
  <div class="a">
      <app-facilities></app-facilities>

  </div>
  <div class="b">
      <app-facility-assets></app-facility-assets>
  </div>
  <div class="c">
      <app-facility-details></app-facility-details>
  </div>
</div> -->