.totals {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.gauge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.occupation-totals {
    font-size: 0.8rem;
    color: #b3d8e9;
    .strong {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .occupation-description {
        margin-bottom: 22px;
    }
}