<nb-card size="small">
    <nb-card-body *ngIf="totals">
        <div class="row">
            <div class="col-8 gauge">
                <mwl-gauge [max]="totals.capacity.totalCapacity" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="totals.occupation.totalOccupation" [animated]="true" [animationDuration]="6">
                </mwl-gauge>
                <span class="gauge-totals">Totaal bezet {{totals.occupation.totalOccupation}} van
          {{totals.capacity.totalCapacity}}</span>
            </div>
            <div class="col-4 align-self-center occupation-totals">
                <div class="row occupation-description">
                    <div>
                        <span class="strong">{{totals.occupation.transientOccupation}}</span> van {{totals.capacity.transientCapacity}} <br>Bezet door passanten
                    </div>
                </div>
                <div class="row occupation-description">
                    <div>
                        <span class="strong">{{totals.occupation.subscriberOccupation}}</span> van {{totals.capacity.subscriberCapacity}} <br>Bezet door abonnees
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>