@import "../../assets/styles/themes.scss";
:host {
    background: nb-theme(background-basic-color-1);
}

.card-row {
    display: flex;
    margin: 0 -0.5rem;
}

.card-col {
    flex: 1 0 calc(50% - 1rem);
}

.menu-sidebar {
    align-items: center;
    flex-direction: row;
    width: 85px;
}

.sidebar-toggle {
    padding-right: 1.25rem;
    text-decoration: none;
    color: var(--text-hint-color);
    font-size: 3.5rem;
}

.main-menu-card {
    align-items: center;
    flex-direction: row;
    width: 55px;
    height: 80vh;
}