<nb-layout>
    <!-- <nb-layout-header fixed>
        <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    </nb-layout-header> -->
    <nb-sidebar class="menu-sidebar" start state="compacted">
        <div class="card-col">
            <nb-card class="main-menu-card" size="medium">
                <nb-menu [items]="items">
                </nb-menu>
            </nb-card>
        </div>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>